page-reserveSpot {
    ion-label{
        font-family: 'Roboto','sans-serif';
        position:absolute;
        right:0;
    }
    
    ion-col{
        text-align: right;
    }
    
    .bg-style{
        background-color: #C5D1FE;
        background: #C5D1FE;
    }
    
    .title-style{
        font-family: 'Roboto','sans-serif';
        color: #FFB200;
    }
}